In [ ]:
import json
import pandas as pd
import numpy as np
import time
from sqlalchemy import create_engine

In [ ]:
from config import db_password

In [ ]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [ ]:
file_dir = 'C:/Users/mikeb/OneDrive/Challenge8'

In [ ]:
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [ ]:
len(wiki_movies_raw)

In [ ]:
# First 5 records
wiki_movies_raw[:5]

In [ ]:
# Last 5 records
wiki_movies_raw[-5:]

In [ ]:
# Some records in the middle
wiki_movies_raw[3600:3605]

In [ ]:
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [ ]:
kaggle_metadata.head(5)

In [ ]:
ratings.tail(5)

In [ ]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [ ]:
wiki_movies_df.head()

In [ ]:
wiki_movies_df.columns.tolist()

In [ ]:
# Create list comprehension with the filter expression
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]
len(wiki_movies)

In [ ]:
# Create dataframe from the list
wiki_movies = pd.DataFrame(wiki_movies)
wiki_movies.head()

In [ ]:
# Filter out TV shows by referencing 'No. of episodes'
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]

In [ ]:
# Define a function to make a non-destructive copy
def clean_movie(movie):
    movie = dict(movie)
    return movie

In [ ]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

In [ ]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]['url']

In [ ]:
sorted(wiki_movies_df.columns.tolist())

In [ ]:
def clean_movie(movie):
    movie = dict(movie) # Create a non-destructive copy
    alt_titles = {}
    # Loop through a list of all alternative title keys
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCuneâ€“Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        # Check if the current key exists in the movie object
        if key in movie:
            # Remove the key-value pair and add to the dictionary
            alt_titles[key] = movie[key]
            movie.pop(key)
    # After looping through keys add alternative titles to the movie object
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles            
   
    return movie

In [ ]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [ ]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [ ]:
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

In [ ]:
# Get a count of null values for each column using list comprehension
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [ ]:
# Adjust to keep only specific columns
[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

In [ ]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [ ]:
wiki_movies_df.head(10)

In [ ]:
# Display the data type for each column
wiki_movies_df.dtypes

In [ ]:
box_office = wiki_movies_df['Box office'].dropna()

In [ ]:
def is_not_a_string(x):
    return type(x) != str
box_office[box_office.map(is_not_a_string)]

In [ ]:
# the lambda function version of is_not_a_string
lambda x: type(x) != str

In [ ]:
box_office[box_office.map(lambda x: type(x) != str)]

In [ ]:
# Apply the join() function (only use when our data points are lists)
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
import re

In [ ]:
form_one = r'\$\d+\.?\d*\s*[mb]illion'

In [ ]:
form_two = r'\$\d{1,3}(?:,\d{3})+'
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

In [ ]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [ ]:
box_office[~matches_form_one & ~matches_form_two]

In [ ]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [ ]:
box_office[~matches_form_one & ~matches_form_two]

In [ ]:
# refactored code to fix problems with above
# use /s* after dollar signs to remove space between dollar signs and numbers
# use ? to fix where "million" is spelled "millon"
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
# use [,\.] to change thousands separator from period to comma
# use negative lookahead group for that rejects "million" or "billion" to return numbers instead of strings
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [ ]:
# use replace() method to fix problem of some values given as range
box_office = box_office.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

In [ ]:
box_office.str.extract(f'({form_one}|{form_two})')

In [ ]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan
    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)
        # convert to float and multiply by a million
        value = float(s) * 10**6
        # return value
        return value
    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)
        # convert to float and multiply by a billion
        value = float(s) * 10**9
        # return value
        return value
    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
        # remove dollar sign and commas
        s = re.sub('\$|,','', s)
        # convert to float
        value = float(s)
        # return value
        return value
    # otherwise, return NaN
    else:
        return np.nan

In [ ]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
wiki_movies_df['box_office']

In [ ]:
# Drop Box Office column
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [ ]:
# Create a variable for budget. Use .dropna() to remove empty/null values
budget = wiki_movies_df['Budget'].dropna()

In [ ]:
# Convert any lists to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# Remove any values between a dollar sign and a hyphen (for budgets given in ranges)
budget = budget.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

In [ ]:
# Parse the budget data using the same pattern matches created to parse box office data above
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# Remove the brackets around the numbers using \[\d+\]
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# Change box_office to budget
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
# drop budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [ ]:
# Parse Release Data

In [ ]:
# make a variable that holds non-null values of Release date in the dataframe and convert lists to strings
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# Parse the forms
# month, dd, yyyy format
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
# yyy/mm/dd format
date_form_two = r'\d{4}.[01]\d.[0123]\d'
# month yyyy format
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
# yyyy
date_form_four = r'\d{4}'

In [ ]:
# Extract the dates
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
# Use to_datetime() method instead of creating function to parse the dates
# set infer_datetime_format option to True
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], inf

In [ ]:
# Parse Running Time

In [ ]:
# make a variale that holds non-null values, converting lists to strings
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# use string boundaries to see how many running times are in minutes
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# see how the rest of the run times are formatted if not in minutes
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# make more general by only marking begininng of the string 
# accept abbreviations of "minutes" by only searching up to the letter 'm'
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# see how the remaining 17 entries look
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# extract run time values. only extract digigst and allow for both possible patterns
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [ ]:
# convert the strings to numeric values.
# use the to_numeric() method and set the errors argument to 'coerce'
# use fillna() to all the NaNs to zeros
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
# apply a function that will conver the hour capture groups and minute capture groups
# save the output to movies_df
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
# drop Running time from the dataset
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
# Clean the Kaggle Data

In [ ]:
# check the data types
kaggle_metadata.dtypes

In [ ]:
# most data types above are still strings

In [ ]:
# check if 'adult' and 'video' and columns are true/false
kaggle_metadata['adult'].value_counts()

In [ ]:
# there is clearly some bad data above

In [ ]:
# remove the bad data
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# can see corrupted data above, three movies had columns scrambled

In [ ]:
# keep the rows where adult column is False and then drop the adult column
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
# look at the values of the video column
kaggle_metadata['video'].value_counts()

In [ ]:
# now there are only true/false values remaining

In [ ]:
# Convert Data Types

In [ ]:
# create the Boolean column
kaggle_metadata['video'] == 'True'
# assign the new column back to 'video'
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'
# use to_numeric() method for numeric columns
# set errors= argument to 'raise' to check if any data can't be converted
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')
# use to_datetime() since release_date is already in standard format
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# Reasonability Checks on Ratings Data

In [ ]:
# use the info() method on the dataframe
# set null_counts option to True since dataset has many rows
ratings.info(null_counts=True)

In [ ]:
# Convert the timestamp column to datetime data type
# specify the origin as 'unix' and time unit as seconds
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# data above looks reasonable, assign it to the timestamp column
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# Look at the statistics for ratings to check for glaring errors
# create a histogram  then use the describe() method t
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [ ]:
# Merge Wikipedia and Kaggle Metadata

In [ ]:
# print list of columns to check redundancy
# use suffixes parameter to denote which table column is from
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])
movies_df.columns

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# Titles

In [ ]:
# take a look at titles
movies_df[['title_wiki','title_kaggle']]

In [ ]:
# where row titles don't match (kaggle data looks more consistent)
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [ ]:
# Runtime

In [ ]:
# check consistency between running_time and runtime columns
# scatter plot is a good way to look at this
# because there are probably missing values, fill them with zeroes
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
# because there are more data points on the origins of the Y axis than the X axis
# and because the Y axis is Kaggle
# can be determined Wikipedia has more missing entries
# ther are also some outliers

# will go with kaggle data
# can see there are movies where kaggle is missing data that wikipedia has so will fill the gaps with wikipedia

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia        
# running_time             runtime                  Keep Kaggle; fill in zeroes with Wikipedia data   
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# Budget

In [ ]:
# also use scatter since budget values are numeric
movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
# The Wikipedia data appears to have more outliers compared to the Kaggle data. 
# However, there are quite a few movies with no data in the Kaggle column, while Wikipedia does have budget data. 
# Therefore, we'll fill in the gaps with Wikipedia's data.

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia        
# running_time             runtime                  Keep Kaggle; fill in zeroes with Wikipedia data   
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeroes with Wikipedia data       
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# Box Office

In [ ]:
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# fix the scale the large data point is throwing off
movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# This looks similar to what we've seen for budget
# keep the Kaggle data, but fill in the zeros with Wikipedia data.

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia        
# running_time             runtime                  Keep Kaggle; fill in zeroes with Wikipedia data   
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeroes with Wikipedia data
# box_office               revenue                  Keep Kaggle; fill in zeroes with Wikipedia data 
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# Release Date

In [ ]:
# can't directly make a scatter plot because they only work with numeric data
# workaround: use line plot and change style to only put dots
# add style='.' to the plot() method
movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
# investigate interesting outlier around 2006
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
# somehow The Holiday in the Wikipedia data got merged with From Here to Eternity
# drop that row
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
# drop that row
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
# check for null values
# The Wikipedia data is missing release dates for 11 movies
# the Kaggle data isn't missing any release dates
# drop the Wikipedia data
movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia        
# running_time             runtime                  Keep Kaggle; fill in zeroes with Wikipedia data   
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeroes with Wikipedia data
# box_office               revenue                  Keep Kaggle; fill in zeroes with Wikipedia data 
# release_date_wiki        release_date_kaggle      Drop Wikipedia 
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# Language

In [ ]:
# some language data points are stored as lists
# need to convert lists in Language into tuples to value_counts() method will work
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
# For the Kaggle data, there are no lists
movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# there is a trade off since Wikipedia has more data regarding language
# but kaggle data is more consisent and usable format
# no clear answer, but here will use Kaggle

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia        
# running_time             runtime                  Keep Kaggle; fill in zeroes with Wikipedia data   
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeroes with Wikipedia data
# box_office               revenue                  Keep Kaggle; fill in zeroes with Wikipedia data 
# release_date_wiki        release_date_kaggle      Drop Wikipedia 
# Language                 original_language        Drop Wikipedia 
# Production company(s)    production_companies

In [ ]:
# Production Companies

In [ ]:
# look at small sample
# kaggle data looks much more consistnet
# drop wikipedia
movies_df[['Production company(s)','production_companies']]

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia        
# running_time             runtime                  Keep Kaggle; fill in zeroes with Wikipedia data   
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeroes with Wikipedia data
# box_office               revenue                  Keep Kaggle; fill in zeroes with Wikipedia data 
# release_date_wiki        release_date_kaggle      Drop Wikipedia 
# Language                 original_language        Drop Wikipedia 
# Production company(s)    production_companies     Drop Wikipedia

In [ ]:
# Put it all together

In [ ]:
# drop the title_wiki, release_date_wiki, Language, and Production company(s) columns
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# make a function that fills in missing data for a column pair
# and then drops the redundant column
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# run the function for the three column pairs 
# use column pairs decided to fill in zeroes
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
# check that there aren't any columns with only one value
# need to convert lists to tuples for value_counts() to work
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
movies_df['video'].value_counts(dropna=False)
# since false for every row, column does not need to be included

In [ ]:
# Skill Drill: Use List comprehension to replace for loop

In [ ]:
# Still need to do the skill drill

In [ ]:
# Transforma nd Merge Rating Data

In [ ]:
# first use a groupby on the "movieid" and "rating" columns and take the count
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [ ]:
# rename "userid" column to "count"
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)

In [ ]:
# Can pivot this data so that movieID is the index
# columns will be all the rating values
# rows will be the counts for each rating value
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
# rename the columns so they are easier to understand
# prepend rating_ to each column with list comprehension
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [ ]:
# marge rating counts into movies_df
# use left merge (if movies_df is left)
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
# fill in missing values because every movie didnt get a rating for each level
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
movies_with_ratings_df

In [ ]:
# Create Database engine

In [ ]:
engine = create_engine(db_string)

In [ ]:
# Import the movie data

In [ ]:
movies_df.to_sql(name='movies', con=engine)

In [ ]:
# Import the Ratings Data
# Will take a long time so print out info while performing

In [ ]:
# create a variable for the number of rows imported
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv(f'{file_dir}/ratings.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    
    data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the chunksize
    rows_imported += len(data)

    # print that the rows have finished importing
    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')